.nav-link {
    color: #000 !important;
}

.nav-link:hover {
    color: #FA3980 !important;
}

#profile-circle {
    background-color: #FA3980; /* Pink background */
    border-radius: 50%; /* Makes it a circle */
}

#background {
    position: relative; /* Ensure positioning for pseudo-element */
    height: 100vh;
    width: 100%;
}

#background::before {
    content: ""; /* Creates a pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../static/gradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5; /* Only the background image is semi-transparent */
    z-index: -1; /* Places the pseudo-element behind the content */
}

#navbar {
    height: 7.5%;
    position: center;
}

#brand-name {
    font-size: 6rem;
}

#slogan {
    font-size: 1.5rem;
}