{% extends "base.html" %}

{% block title %}Carbon Copy - Upload Data{% endblock %}

{% block content %}
<div id="welcome-branding" class="h-screen flex flex-col items-center justify-center space-y-10">
    <!-- Brand Title -->
    <div class="text-center">
        <h1 class="main-title">Upload Data</h1>
        <p class="slogan">Upload Data to Start Tracking Your Habits</p>
    </div>

    <!-- Manual / API Buttons -->
    <div id="find-manage" class="space-x-6">
        <a href="{{url_for('main.manual_data')}}" class="bg-[#FA3980] hover:bg-pink-600 text-white font-semibold py-2 px-6 rounded-full transition">
            Manual Upload
        </a>
        <!-- <a href="#" class="bg-[#FA3980] hover:bg-pink-600 text-white font-semibold py-2 px-6 rounded-full transition">
            API Upload
        </a> -->
    </div>
</div>
{% endblock %}