{% extends "base.html" %}

{% block title %}
Introductory Page - Carbon Copy
{% endblock %}

{% block extra_head %}
<script src="../static/base-charts.js"></script>
{% endblock %}

{% block content %}
<!-- Welcome Branding -->
<div id="welcome-branding" class="flex items-center mt-80">
    <div>
        <!-- Brand Title -->
        <div class="ml-10">
            <h1 id="brand-name" class="font-bold text-[6rem]">Carbon Copy</h1>
            <h3 id="slogan" class="text-[1.5rem]">Ever wondered if someone out there lives life just like you?</h3>
        </div>
        <!-- Sign Up / Log In Buttons -->
        <div id="sign-up-log-in" class="flex mt-6">
            <a href="#" class="bg-white hover:bg-pink-600 text-black hover:text-white font-semibold py-2 px-6 rounded-full transition ml-92">
                Log In
            </a>
            <a href="#" class="bg-[#FA3980] hover:bg-pink-600 text-white font-semibold py-2 px-6 rounded-full transition -ml-50">
                Sign Up
            </a>
        </div>
    </div>
</div>

<!-- Dummy Charts -->
<div class="flex items-center ml-280 mt-30">
    <div class="chart rounded-lg bg-[#FFCDD3] p-10">
        <canvas id="sleep-data" width="500" height="500"></canvas>
    </div>
    <div class="chart rounded-lg bg-white p-10 -ml-250 mt-40">
        <canvas id="social-media-data" width="400" height="400"></canvas>
    </div>
</div>

<div class="flex items-center ml-10 mt-60">
    <div class="chart rounded-full p-6 bg-white">
        <canvas id="twin-data" width="400" height="400"></canvas>
    </div>
    <h2 class="font-bold text-[5rem] ml-140">Find your <br>doppelganger</h2>
</div>
{% endblock %}