<!DOCTYPE html>
<html>
    <head>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <title>Carbon Copy - Introductory Page</title>
    </head>
    <body style="background-image: url('../static/gradient.png'); background-size: cover; background-repeat: no-repeat;"></body>
        <!-- Navigation Bar -->
        <nav id="navbar" class="sticky top-0 bg-white">
            <div class="container mx-auto px-4 py-3 flex justify-between items-center">
                <!-- Left: Brand Button -->
                <a href="#" class="nav-link font-bold">
                    Carbon Copy
                </a>
    
                <!-- Middle: Navigate to Other Pages -->
                <div class="space-x-6">
                    <a href="#" class="nav-link">Visualise Data</a>
                    <a href="#" class="nav-link">Upload Data</a>
                    <a href="#" class="nav-link">Share Data</a>
                </div>

                <!-- Right: Navigate to Sign in Page-->
                <div class="flex space-x-2">
                    <a href="#" class="nav-link">Sign In</a>
                    <a href="#" class="nav-link">
                        <div class="circle w-6 h-6 rounded-full"></div>
                    </a>
                </div>
            </div>
        </nav>
    </body>
</html>