<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="../static/introductory-charts.js"></script>
        <script src="../static/dropdown.js"></script> 
        <link rel="stylesheet" href="../static/dropdown.css" />
        <title>Carbon Copy - Introductory Page</title>
    </head>
    <body>
        <div id="background" >
            <!-- Navigation Bar -->
            <nav id="navbar" class="sticky top-0 bg-white items-center justify-center flex">
                <div class="container mx-auto px-4 py-3 flex justify-between items-center">
                    <!--Left: Brand Button-->
                    <a href="#" class="hover:text-[#FA3980] font-bold text-2xl">
                        Carbon Copy
                    </a>

                    <!--Middle: Navigate to other pages-->
                    <div class="space-x-6 text-xl">
                        <ul>
                            <!--Visualise Data-->
                            <li class="dropdown">
                                <a href="#">Visualise Data ▾</a>
                                <div class="dropdown-content">
                                <div class="dropdown-item">
                                    <span role="img" aria-label="My Data"></span>
                                    <strong>My Data</strong><br>
                                    <small>View personal data over time</small>
                                </div>
                                <div class="dropdown-item">
                                    <span role="img" aria-label="Twin Data"></span>
                                    <strong>Twin Data</strong><br>
                                    <small>Find and view data doppelgänger</small>
                                </div>
                                <div class="dropdown-item">
                                    <span role="img" aria-label="Friends Data"></span>
                                    <strong>Friends Data</strong><br>
                                    <small>View data shared by friends</small>
                                </div>
                                </div>
                            </li>
        
                            <!--Upload data-->
                            <li class="dropdown">
                                <a href="#">Upload Data ▾</a>
                                <div class="dropdown-content">
                                    <div class="dropdown-item">
                                        <span role="img" aria-label="Manual"></span>
                                        <strong>Manual</strong><br>
                                        <small>Enter and update data manually</small>
                                    </div>
                                    <div class="dropdown-item">
                                        <span role="img" aria-label="From Device">⏱</span>
                                        <strong>From Device</strong><br>
                                        <small>Connect and transfer data from API</small>
                                    </div>
                                </div>
                            </li>
        
                            <!--Share data-->
                            <li class="dropdown">
                                <a href="#">Share Data ▾</a>
                                <div class="dropdown-content">
                                    <div class="dropdown-item">
                                        <span role="img" aria-label="Friends"></span>
                                        <strong>Friends</strong><br>
                                        <small>Find friends to compare with</small>
                                    </div>
                                    <div class="dropdown-item">
                                        <span role="img" aria-label="Requests"></span>
                                        <strong>Requests</strong><br>
                                        <small>Manage share requests</small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--Right: Navigate to Sign In and Settings Page-->
                    <div class="flex space-x-4 text-xl">
                        <ul>
                            <li class="dropdown" style="margin-left:auto">
                                <a href="#">First Last ▾</a>
                                <div class="dropdown-content">
                                    <div class="dropdown-item">
                                        <strong>Manage Account</strong><br>
                                        <small>Update contact information</small>
                                    </div>
                                    <div class="dropdown-item">
                                        <strong>Manage Profile</strong><br>
                                        <small>Update profile picture and profile settings</small>
                                    </div>
                                    <div class="dropdown-item">
                                        <strong>Manage Connections</strong><br>
                                        <small>Manage connected applications and devices</small>
                                    </div>
                                    <div class="dropdown-item">
                                        <strong>Delete Account</strong><br>
                                        <small>Permanently delete account</small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!--You can delete everything from here until the end of body tag and replace with the relevant elements to your view-->
            <!--Welcome Branding-->
            <div id="welcome-branding" class="flex items-center mt-80">
                <div>
                    <!--Brand Title-->
                    <div class="ml-10">
                        <h1 id="brand-name" class="font-bold text-[6rem]">Carbon Copy</h1>
                        <h3 id="slogan" class="text-[1.5rem]">Ever wondered if someone out there lives life just like you?</h3>
                    </div>
                    <!--Sign Up / Log In buttons-->
                    <div  id="sign-up-log-in" class="flex mt-6">
                        <a href="#" class="bg-white hover:bg-pink-600 text-black hover:text-white font-semibold py-2 px-6 rounded-full transition ml-92">
                            Log In 
                        </a>
                        <a href="#" class="bg-[#FA3980] hover:bg-pink-600 text-white font-semibold py-2 px-6 rounded-full transition -ml-50">
                            Sign Up
                        </a>
                    </div>
                </div>
            </div>
            <!--Dummy Charts-->
            <div class="flex items-center ml-280 mt-30">
                <div class="chart rounded-lg bg-[#FFCDD3] p-10">
                    <canvas id="sleep-data" width="500" height="500"></canvas>
                </div>
                <div class="chart rounded-lg bg-white p-10 -ml-250 mt-40">
                    <canvas id="social-media-data" width="400" height="400"></canvas>
                </div>

            </div>
            
            <div class="flex items-center ml-10 mt-60">
                <div class="chart rounded-full p-6 bg-white">
                    <canvas id="twin-data" width="400" height="400"></canvas>
                </div>
                <h2 class="font-bold text-[5rem] ml-140">Find your <br>doppelganger</h2>
            </div>
        </div>    
    </body>
</html>